@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Chelsea Market", system-ui;
}

body::-webkit-scrollbar {
  width: 0px;
}

.hero-con {
  @apply w-full h-fit flex flex-col space-y-32 bg-[url('/hero_bg_img.png')] bg-cover bg-no-repeat lg:space-y-0 lg:bg-center;
}

.hero-content {
  @apply w-full flex flex-col space-y-10 items-center px-7 lg:flex-row lg:space-y-0 lg:justify-between;
}

.hero-main-text {
  @apply text-5xl font-bold underline text-white lg:text-8xl;
}

.hero-btn-con {
  @apply w-full flex flex-col py-5 space-y-5 lg:flex-row lg:space-y-0 lg:space-x-5;
}

.hero-btn {
  @apply h-fit text-lg font-medium rounded-full p-4 transition lg:px-12 lg:py-3 hover:scale-105;
}

.mobile-nav-con {
  @apply w-full bg-black fixed top-0 left-0 z-20 flex px-7 py-4 justify-between items-center lg:hidden;
}

.link-style {
  @apply text-white font-medium hover:text-gray-400;
}
